.service {
    display: grid;
    grid-template-areas: "chooser1 chooser2" "version version";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    width: 100vw;
    height: 100vh;
}

.service-chooser {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.service-chooser.connect-chooser {
    grid-area: chooser1;
    justify-content: end;
    padding-right: 2vw;
}
.service-chooser.ismile-chooser {
    grid-area: chooser2;
    justify-content: start;
    padding-left: 2vw;
}

.service-chooser--link {
    display: flex;
    gap: 15px;
    height: 45vw;
    width: 45vw;
    padding: 5vw;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;

    border: 2px solid #403f3f15 ;
    border-radius: 5px;

    max-width: 500px;
    max-height: 500px;
}

.service-chooser--link:hover{
    background-color: #403F3F15;
}


.service-chooser--label{
    text-decoration: none !important;
    color: #403F3F;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.service-chooser--icon{
    max-width: 70%;
}

#version{
    grid-area: version;
    display: flex;
    width: 100%;
    justify-content: center;
}

