$primary-color: #68cdec;
$danger-color: rgba(#FF0000, 0.7);
*{
  text-shadow: 0 0 0.2px rgba(0,0,0,0.1);
  //-webkit-text-stroke: 0.45px;
  // or
  //-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  // or
  //text-shadow: #fff 0px 1px 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #18191d;
}
.card{
  border: 0px solid rgba(0,0,0,1);

}
.text-btn{
    font-weight: bolder;
    cursor: pointer;
  font-size: 14px;

  color: rgba(255,255,255,.8) !important;
    &.active{
        color: $primary-color !important;

    }
    &:hover{
    color: rgba($primary-color,0.78) !important;
    transform: translateY(-2px)
    }
}
.label-of-stages{
  font-weight: bolder;
  background-color: #1d2024 !important;
}
.loading-container{
  background-color: #000;
}
.mat-autocomplete-panel{
  background-color: #000 !important;
}
.card-header, .card-footer, .mat-tab-label-container{
  background-color: #1d2024 !important;
}
.card-body {
  background-color: #000 !important;

}
.mat-header-row{
  background-color: rgba($primary-color, 0.4);
}
.mat-row{
  background-color: #000000 !important;
}
// ---------------------
// ---------------------
// navbar + create new order component
// ---------------------
// ---------------------
.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
  color: #fff;
}
:host   span.mat-button-wrapper{
  color: #fff !important;
  &:hover{
    color: $primary-color;
  }
}
*{
  color: #fff !important;
}

mat-dialog-container {
  background-color: #232327 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.42) !important;
}
.mat-radio-outer-circle {
  border-color: rgba(255, 255, 255, 0.54) !important;
}
.header-table-chart {
  > div {
    border: 0.2px solid rgba(255, 255, 255, 0.05) !important;

  }
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #68cdec !important;
}
.mat-select {
  background-color: #3d3d42 !important;
  select {
    background-color: #3d3d42 !important;

  }
}
mat-button-toggle {
  background-color: #2a2b30;
}
  .mat-button-toggle-checked{
    color: #fff;
    background-color: #1d2024 !important;
    border: 0.25px solid rgba($primary-color, 0.2)
  }
  .mat-button-toggle:not(.mat-button-toggle-checked){
    background-color: #2a2b30 !important;
    border: 0.10px solid rgba($primary-color, 0.2)


  }

  // ---------------------
  // ---------------------
  // stl component
  // ---------------------
  // ---------------------

  .text-btn {
    color: rgba(255, 255, 255, .8) !important;
    &.active {
      color: $primary-color !important;
    }
    &:hover {
      color: rgba(255, 255, 255, 1) !important;
      transform: translateY(-2px)
    }
  }
  .bg-material {
    background-color: #1d2024;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);

  }

  .dropdown-toggle::after {
    border-top: 0.3em solid $primary-color;
  }
  .profile-badge {
    background-color: rgba($primary-color, 0.1);
    span {
      color: $primary-color;
    }
  }

  button.menu-icon-container {
    background-color: transparent;
    border: none;
    &:focus {
      outline: 0;
      border: none;
    }
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    span.menu-icon {
      background: rgba(255, 255, 255, .95);
      text-indent: -999em;
      width: 100%;
      top: 6px;
      transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
      &:before, &:after {
        content: '';
        height: 2px;
        background: rgba(255, 255, 255, .95);
        width: 100%;
        position: absolute;
        top: -6px;
        left: 0;
        transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
      }
      &:after {
        top: 6px;
      }
    }
    &.active span.menu-icon {
      background: transparent;
      &:before {
        transform: translateY(6px) translateX(1px) rotate(45deg);
      }
      &:after {
        transform: translateY(-6px) translateX(1px) rotate(-45deg);
      }
    }
  }
  mat-checkbox h3{

    background-color: #232327;
    color: #ffffff;
  }

  .mat-checkbox-layout .mat-checkbox-frame{
    border-color: #ffffff !important;
  }
  :host-context .mat-checkbox-label {
    background-color: #232327 !important;
  }

   .mat-checkbox-layout .mat-checkbox-label{
    background-color: #232327 !important;



  }

  .dropdown-item {
    &:focus {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  .dropdown-item {
    &.active {
      color: #ffffff;
      background-color: $primary-color;
    }
  }
  .icon-btn {
    color: #fff;
    stroke: #fff;
  }
  .side-bar {
    overflow: hidden;
    background-color: rgba(0, 132, 255, 0.05);
    border: 1px solid rgb(0, 19, 36);
  }
  .toggle-sidebar-btn {
    background-color: $primary-color;
  }
  .side-bar-container {
    background-color: rgba(0, 132, 255, 0.05);
  }
  :host   .sortable-name {
    color: #fff !important;
  }
  :host   .sortable-container .sortable-header {
    background: $primary-color !important;
    background-image: $primary-color !important;

  }
  :host   .sortable-container .sortable-list {
    > li.active {
      background-color: $primary-color !important;
      > .singleStep {
        background-color: $primary-color !important;
      }
    }
  }

  :host   .sortable-buttons {
    button {
      background-color: #000 !important;
      color: #fff !important;
      &:hover {
        background-color: $primary-color !important;
        color: #fff !important;
      }
    }

  }
  .full-layout-container {
    background-color: rgba(0, 0, 0, 1);
  }
  .bottom-container {
    overflow: hidden;
    background-color: #000;
  }

  .main {
    background-color: rgba(60, 64, 67, .5);
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);;
  }

  :host   .mat-drawer-inner-container {
    background-color: #000;
  }
.controllers-stls {
  color: #fff !important;
  background-color: rgba(0,0,0,0.7);

  .icon-btn {
    background-color: transparent;
    margin: 0;
    flex-grow: 1;
    color: #fff !important;

    &:hover {
      color:#fff !important;
    }
  }
}
  .controllers-container {

    background-color: rgba(0, 132, 255, 0.05);
    border-top: 1px solid rgba(88, 96, 105, 0.5);
    > .status {
      border: 1px solid rgba($primary-color, .5);
      background-color: transparent;
    }
    > .status.active {
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    > label {
      background-color: $primary-color;
      color: #fff;
      box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.1), 0 1px 3px 1px rgba(60, 64, 67, 0.5);
    }
    &.active {
      > label {
        background-color: $primary-color;
      }
    }
  }

  label:not(.btn-play) {
    color: rgba(255, 255, 255, 1);
  }
  label:not(.btn-play) > span {
    background-color: $primary-color;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .1), 0 1px 3px 1px rgba(60, 64, 67, .5);;
  }
  label:not(.sortable-name) > span:hover, label:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

  :host   .mat-drawer-inner-container {
    background-color: rgba(0, 0, 0, .8);
  }
  @media only screen and (max-width: 720px) {
    :host   .mat-drawer-inner-container {
      background-color: rgba(0, 0, 0, .8);
    }
  }
  .singleStep {
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    &:nth-child(even):not(.active) {
      background-color: #0d161d
    }
    &:hover {
      background-color: #062844;
      color: #fff
    }
    &.active {
      background-color: $primary-color !important;
      color: #fff !important;
      &:hover {
        background-color: $primary-color !important;
      }
    }
  }
  span.active {
    color: #fff;
    background-color: $primary-color;
  }
  :host   .loading-sidebar-spinner {
    .mat-progress-spinner status, .mat-spinner status {
      stroke: rgba(255, 255, 255, 0.5);
    }

  }
  .badge-material {
    border: 1px solid rgb(131, 214, 239);
    background-color: rgba($primary-color, 0.1);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
      background-color: rgba($primary-color, .8)
    }
  }
  // -----------------
  // -----------------
  // Home component
  // -----------------
  // -----------------
  .home-shell {
    background-color: #18191d;

  }
  .mat-container {
    background-color: #18191d;

  }
  .card-material, .container-register {

    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.1);
    background: #45464d; /* Old browsers */
    background: -moz-linear-gradient(top, #45464d 0%, #2a2b30 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45464d 0%, #2a2b30 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45464d 0%, #2a2b30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45464d', endColorstr='#2a2b30', GradientType=0); /* IE6-9 */
  }
  .card-material-header {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .case-type-container {
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
  .badge-material {
    border: 1px solid rgba($primary-color, .4);
    background-color: rgba(104, 205, 236, 0.1);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: rgba($primary-color, .8)
    }
  }
  .card-material-body {
    color: #fff;
  }
  .card-material-footer {
    border-top: 1px solid rgba(255, 255, 255, .3);
  }
  .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .sub-order-container {
    &:hover {
      background-color: #232327;
      transition-duration: 1s;
      transition-property: all;
    }
    span {
      color: #FFFFFF !important;
    }
  }
  .sub-order-container:not(first-child), .sub-order-container:not(last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  }

  .ismile-stepper-horizontal {

    background-color: transparent;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .50);
  }

  .ismile-stepper-horizontal .ismile-step:hover,
  .ismile-stepper-horizontal .ismile-step.active {
    background-color: rgba(0, 0, 0, 0.04);
    opacity: 1 !important;
  }

  .ismile-stepper-horizontal .ismile-step:hover .ismile-step-status {
    background-color: #757575;
  }

  .ismile-stepper-horizontal .ismile-step .ismile-step-status {
    background-color: #999999;
    color: #FFFFFF;
  }
  .ismile-stepper-horizontal.green .ismile-step.active .ismile-step-status {
    background-color: $primary-color;
  }
  .ismile-stepper-horizontal.orange .ismile-step.active .ismile-step-status {
    background-color: $primary-color;
  }
  .ismile-stepper-horizontal .ismile-step.active .ismile-step-status {
    background-color: $primary-color
  }

  .ismile-stepper-horizontal .ismile-step .ismile-step-title,
  .ismile-stepper-horizontal .ismile-step .ismile-step-btn, .ismile-step-btn {
    color: rgba(255, 255, 255, .26);
  }
  .ismile-stepper-horizontal .ismile-step.active .ismile-step-title {
    color: rgba(255, 255, 255, .87);
  }

  .ismile-stepper-horizontal .ismile-step .ismile-step-btn, .ismile-step-btn {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: transparent;
    &:hover:not([disabled]) {
      background-color: $primary-color;
      color: #fff;
    }
  }

  .ismile-stepper-horizontal .ismile-step .ismile-step-bar-left,
  .ismile-stepper-horizontal .ismile-step .ismile-step-bar-right {
    border-top: 1px solid #DDDDDD;
  }

  .ismile-step.current {
    .ismile-step-status {
      background-color: $primary-color !important;
      box-shadow: 0 0 0 rgba($primary-color, 0.6);
      animation: pulse 1s infinite;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba($primary-color, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary-color, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
      box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba($primary-color, 0);
      box-shadow: 0 0 0 10px rgba($primary-color, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary-color, 0);
      box-shadow: 0 0 0 0 rgba($primary-color, 0);
    }
  }
  .add-order-btn {
    background-color: $primary-color;
    color: #ffffff;
  }

// angular material
.mat-calendar-body-cell-content, .mat-calendar-period-button, .mat-calendar-previous-button, .mat-calendar-next-button, .mat-calendar-table-header  {
  .mat-button-wrapper{
    color: rgba(0, 0, 0, 0.87) !important;
  }
  color: rgba(0, 0, 0, 0.87) !important;
  border-color: transparent;
  }
          thead{
            tr{
              th{
            color: rgba(0, 0, 0, 0.87) !important;
            border-color: transparent;
              }
            }
          }

          .mat-calendar-body-cell-content {
            color: rgba(0,0,0,.87) !important;
            border-color: transparent;
          }
.icon-btn:not(.fas), .icon-btn:not(.far){
  background-color: transparent ;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: $primary-color !important;

  }
}
.remove-btn {
  color: $danger-color;
  border: none !important;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    font-weight: bolder;
  }
  >i{
    color: $danger-color;

  }
}

thead tr th {
  color: rgba(255, 255, 255, 0.87) !important;
  border-color: transparent;
}
:host  .mat-select-panel, .mat-select-panel{
  background-color: rgba(0, 0, 0, 0.8)  !important;
}
 mat-option:hover{
  background-color: $primary-color !important;
  color: #fff !important;
}

 .modal-content {
   box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.1);
   background: #45464d;
   background: linear-gradient(to bottom, #45464d 0%, #2a2b30 100%) !important;
 }
.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;

}
.modal-footer{
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;

}
label.connect-Label{
  background-color: transparent !important;
}
.input-group-text{
  background-color: transparent !important;
}
.shell-register{
  background-color: #000 !important;
}
.mat-error> small {
  color: #f44336 !important;
}
.bs-datepicker-body, .bs-datepicker-container{
  background-color: #000 !important;
  border-color: rgba(255,255,255,0.2) !important;
}
.bs-datepicker{
  box-shadow: 0 0 10px 0 #000 !important;

}
.theme-green .bs-datepicker-head {
  background-color: #346776;
}
.validation-error {
  box-shadow: rgba(226, 0, 23, 0.2) 0px 1px 2px 0px, rgba(226, 0, 23, 0.5) 0px 1px 3px 1px;
  background-color: rgb(255, 255, 255) !important;
}

.dropdown-menu.show {
  background: #000 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  text-decoration: none;
  background-color: #16181b !important;
}
