// ---------------------
// ---------------------
// stl component
// ---------------------
// ---------------------
$primary-color: #68cdec;
$danger-color: rgba(#FF0000, 0.7);
*{
  text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
  -webkit-text-stroke: 0.45px;
  // or
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  // or
  //text-shadow: #fff 0px 1px 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #eceff1;
}
.user-name{
  color: rgba(0,0,0,0.8)
}
#basic-link {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  &:hover {
    text-decoration: none;
    opacity: 0.7;
    color: rgba(0,0,0,0.8)
  }
  >i{
    color: rgba(0,0,0,0.8);
  &:hover {
    color: rgba(0,0,0,0.8);
  }
  }
}
.label-of-stages{
  font-weight: bolder;
  background-color: #1d2024 !important;
}
.loading-container{
  background-color: #fff;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
  color: #fff;
}
.sub-top-list{
    margin-top:50px;
    display: flex;
    flex-direction: column
}
.text-btn{
    font-weight: bolder;
    cursor: pointer;
  font-size: 14px;

  color: rgba(0,0,0,.8) !important;
    &.active{
        color: $primary-color !important;

    }
    &:hover{
    color: rgba($primary-color,0.78) !important;
    transform: translateY(-2px)
    }
}
.bg-material{
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    color: rgba($color: #000000, $alpha: 0.7)

  }
.dropdown-menu{
    left: -60px !important;
  }
.dropdown-toggle::after {
    // right: -10px;
    border-top: 0.3em solid $primary-color;
  }
.profile-badge{
    border-radius: 25px;
    background-color: rgba($primary-color,0.1);
    // border: 1px solid $primary-color;
    span{
        color: $primary-color;
    }
}
    button.menu-icon-container {
      width: 20px;
      height: 20px;
      top: 5px;
      background-color: transparent;
      border: none;
      position: relative;
      &:focus{
          outline: 0;
          border: none;
      }
      &:disabled{
          opacity: 0.3;
          cursor: not-allowed;
      }
      span.menu-icon {
        height: 2px;
        position: absolute;
        background: rgba(255,255,255,.95);
        text-indent: -999em;
        width: 100%;
        top: 6px;
        transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
        &:before, &:after {
          content: '';
          height: 2px;
          background: rgba(255,255,255,.95);
          width: 100%;
          position: absolute;
          top: -6px;
          left: 0;
          transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
        }
        &:after {
           top: 6px;
        }
      }
     &.active span.menu-icon {
        background: transparent;
        &:before {
          transform: translateY(6px) translateX(1px) rotate(45deg);
        }
        &:after {
          transform: translateY(-6px) translateX(1px) rotate(-45deg);
        }
      }
    }
  .dropdown-item{
    cursor: pointer;
    &:hover{
      font-weight: bold;
    }
    &:focus{
      background-color: $primary-color;
      color: #ffffff;
    }
  }
  .navbar, .navbar-nav{

    display: flex;
    flex-direction: row;
  }
  .navbar-collapse{
flex-basis: 20% !important;
  }
  .dropdown-menu{
    position: absolute;
  }
  .dropdown-item{
    &.active{
      color: #ffffff;
      background-color: $primary-color;
    }
  }
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 265px !important;
    overflow: hidden;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0,0.2);
}
.side-bar-container{
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 270px;
    width: 270px !important;
}
:host   .sortable-name{
    color: #fff;
    font-size: 16px !important;
}
:host  .sortable-container .sortable-header{
    width: auto;
    padding: 5px;
    background: #68cdec  !important;
    border: none !important;
    height: 30px;
    background-image: none  !important;

}
:host   .sortable-container .sortable-list {
    width: 266px !important;
    height: 100% !important;
    > li.active{
        background-color:rgba($primary-color, 0.7 )!important;
        > .singleStep{
        background-color:rgba($primary-color, 0.7 ) !important;
        }
    }
}
:host   .sortable-container{
    width: 270px !important;
    border: 1px solid rgba($color: #000000, $alpha: .05) !important;



    .sortable-header {
    width: 259px !important;
    }
}
:host   .sortable-buttons{
    button{
        background-color: #fff !important;
        color: #000 !important;
    &:hover{
        background-color: $primary-color !important;
        color: #000 !important;
    }
    }

}
.full-layout-container{
    height:100vh !important;
    background-color: rgba(255,255,255,1);
}
.bottom-container{
    overflow:hidden;
    background-color: #000;
    height: 100vh;
}
.spinner-mat{
    position:absolute;z-index: 99; top:calc(50% - 50px);left:calc(50% - 50px)
}
.prog-mat{
    top:58px;z-index:99;position: absolute
}
.main{
    height: 100vh;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);;
}

:host   .mat-step-label{
    font-size: 18px !important;
    font-weight: bolder !important;
}
:host   .mat-drawer-content{
height: auto;
}
:host   .mat-vertical-content-container{
    margin: 0 !important;
}
:host   .mat-drawer-inner-container{
        background-color: #fff;

}
.controllers-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(255, 255, 255, 1);
    // border-top: 1px solid rgba(88, 96, 105, 0.5);
    z-index: 999999;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
 > .status{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 8px;
    border:1px solid rgba($primary-color, .5);
    background-color: transparent;
  }
 > .status.active{
    border:1px solid $primary-color;
    background-color: $primary-color;
  }
  > label{
        background-color: $primary-color;
        width:60px;
        height: 60px;
        padding: 18px;
        border-radius: 100%;
        color: #fff;
        box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.1), 0 1px 3px 1px rgba(60, 64, 67, 0.5);
        margin-left:5px;
        margin-right:5px
  }
  &.active {
    padding: 6px 10px;
      > label{
        background-color: $primary-color;
        width: 40px !important;
        height: 40px !important;
        padding: 8px !important;
      }
  }
}
input#mat-browse{
    display: none;
}
label{
   color: rgba(0,0,0, 1);
}
label:not(.btn-play)>span{
    padding: 10px 25px;
    background-color: $primary-color;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.1), 0 1px 3px 1px rgba(60,64,67,.5);;
}
label:not(.sortable-name, .btn-play)>span:hover, label:hover{
    color: rgba(0,0,0, 0.8);
    //transform: translateY(-2px);
    cursor: pointer;
}
:host   mat-sidenav-content{
    margin-left: 0 !important;
  }
  :host   .mat-drawer-inner-container {
    background-color: rgba(255,255,255,.8);
}
@media only screen and (max-width: 720px) {

    :host   .mat-drawer-inner-container {
        background-color: rgba(255,255,255,.8);
    }
}
.singleStep{
    color:rgba(0,0,0,.7);
    cursor: pointer;
&:nth-child(even):not(.active){
    background-color: #fff
}
   &:hover{
        background-color: #fff;
        color: #000
    }
    &.active{
      background-color: $primary-color !important;
      color: #fff !important;

      &:hover{
            background-color: $primary-color !important;

        }
    }
}
span.active{
    color:  #fff;
    background-color: $primary-color;
}
:host   .loading-sidebar-spinner{
    .mat-progress-spinner status, .mat-spinner status {
        stroke: rgba(255, 255, 255, 0.5);
    }
    mat-spinner{
        width: 20px !important;
        height: 20px !important;
        > svg{
            width: 20px !important;
            height: 20px !important;
        }
    }
}
.badge-material{
    border: 1px solid rgba(104, 205, 236, 0.4);
    background-color: rgba(104, 205, 236, 0.1);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    color: #fff;

    &:hover{
        cursor: pointer;
        background-color: rgba($primary-color, .8)
    }
}
.ismile-step-status{
    span{
        color: #fff !important;
    }
}
// -----------------
// -----------------
// Home component
// -----------------
// -----------------
.home-shell{
    background-color: #eceff1;
}
.mat-container{
    // padding-top:80px !important;
    background-color:rgb(236, 239, 241);
}
.card-material{
    text-align: left;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
        background: #f9f9f9; /* Old browsers */
}
.card-material-header{
    color: #000;
    font-weight: bold;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
 *{
    padding: 3px 6px;}
}
.case-type-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding-left: 10px;
    border-left: 1px solid rgba(0,0,0,.2);
    span{
        img{
            padding-top: 4px;
        }
    }
}
.badge-material{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // font-size: 9px;
    // padding: 3px 7px;
    border: 1px solid rgba($primary-color, .4);
    background-color: rgba(255, 255, 255, 0.1);
    // float: right;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    color: #000;
    // font-weight: bold;
    // width: 88px;
    // align-items: center;
    // text-align: center;
    // margin: 10px 15px;
    // border-radius: 8px;
    &:hover{
        cursor: pointer;
        background-color: rgba($primary-color, .8);
        color: #fff;
    }
}
.card-material-body{
    color: #000;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.card-material-footer{
    border-top: 1px solid rgba(0,0,0,.3);
    justify-content:center;
    display: flex
}
.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px !important;
     i{
        padding-right: 5px;
        font-size: 14px !important;
    }
}
.sub-order-container{
    margin-top: 15px;
    // border-top: 1px solid rgba(255,255,255,0.2);
    padding: 5px;
  &:hover{
    background-color:  rgba($primary-color, 0.1);
    transition-duration: 1s;
    transition-property: all;
  }
     span{
        color: #000;
    }

}
.sub-order-container:not(first-child), .sub-order-container:not(last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.2);

}
.wrapper {
//    margin-top: 10px;
   overflow-x: auto;

}
.wrapper::-webkit-scrollbar {
    width: 7px;
    &:hover{
      width: 10px !important;
    }
  }
  .wrapper::-webkit-scrollbar {
    width: 7px;
    &:hover{
      width: 8px !important;
    }
  }
  .wrapper::-webkit-scrollbar:horizontal{
    height: 4px;

  }
  .wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba($primary-color,0.02);

  }

  .wrapper::-webkit-scrollbar-thumb {
  background-color: rgba($primary-color,0.7);
  outline: 1px solid slategrey;
  }
.ismile-stepper-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;

	// display:table;
	width:100%;
	margin:0 auto;
	background-color:transparent;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.ismile-stepper-horizontal > .ismile-step {
	// display:table-cell;
	position:relative;
    padding:20px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.ismile-stepper-horizontal .ismile-step:hover,
.ismile-stepper-horizontal .ismile-step.active {
    background-color:rgba(255,255,255,0.04);
    opacity: 1 !important;
}
.ismile-stepper-horizontal .ismile-step:active {
	border-radius: 15% / 75%;
}
.ismile-stepper-horizontal .ismile-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ismile-stepper-horizontal .ismile-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.ismile-stepper-horizontal .ismile-step:hover .ismile-step-status {
    background-color: #999898;
}
.ismile-stepper-horizontal .ismile-step:first-child .ismile-step-bar-left,
.ismile-stepper-horizontal .ismile-step:last-child .ismile-step-bar-right {
	display:none;
}
.ismile-stepper-horizontal .ismile-step .ismile-step-status {
	width:30px;
	height:30px;
	margin:0 auto;
    background-color: #b7b7b7;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 10px;
	font-weight: 600;
	color:#fff;
}
.ismile-stepper-horizontal.green .ismile-step.active .ismile-step-status {
	background-color:$primary-color;
}
.ismile-stepper-horizontal.orange .ismile-step.active .ismile-step-status {
	background-color:$primary-color;
}
.ismile-stepper-horizontal .ismile-step.active .ismile-step-status {
	background-color: $primary-color
}
.ismile-stepper-horizontal .ismile-step.done .ismile-step-status:before {
	font-family:'FontAwesome';
	font-weight:100;
    content: "✔";
    opacity: 1;
}
.ismile-stepper-horizontal .ismile-step.done .ismile-step-status *,
.ismile-stepper-horizontal .ismile-step.editable .ismile-step-status * {
	display:none;
}
.ismile-stepper-horizontal .ismile-step.editable .ismile-step-status {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.ismile-stepper-horizontal .ismile-step.editable .ismile-step-status:before {
	font-family:'FontAwesome';
	font-weight:100;
    content: "✔";
}
.ismile-stepper-horizontal .ismile-step .ismile-step-title {
	margin-top:16px;
	font-size:10px;
	font-weight:600;
}
.ismile-stepper-horizontal .ismile-step .ismile-step-title,
.ismile-stepper-horizontal .ismile-step .ismile-step-btn, .ismile-step-btn{
	text-align: center;
	color:rgba(0,0,0,.26);
}
.ismile-stepper-horizontal .ismile-step.active .ismile-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.ismile-stepper-horizontal .ismile-step.active.done .ismile-step-title,
.ismile-stepper-horizontal .ismile-step.active.editable .ismile-step-title {
	font-weight:600;
}
.ismile-stepper-horizontal .ismile-step .ismile-step-btn, .ismile-step-btn {
    font-size: 14px;
    cursor: pointer;
    color: $primary-color;
    padding: 5px;
    font-weight: bolder;
    border: 1px solid $primary-color;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: transparent;
    &:hover:not([disabled]){
        background-color: $primary-color;
        color: #fff !important;
        opacity: 1 !important;
    }
}

.ismile-stepper-horizontal .ismile-step .ismile-step-bar-left,
.ismile-stepper-horizontal .ismile-step .ismile-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.ismile-stepper-horizontal .ismile-step .ismile-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.ismile-stepper-horizontal .ismile-step .ismile-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
.ismile-step.current{
    .ismile-step-status{
        background-color: $primary-color !important;
        box-shadow: 0 0 0 rgba($primary-color, 0.6);
        animation: pulse 1s infinite;
    }
}


// @media only screen and (max-width: 1220px) {
//     .card-material{
//         width: 460px;
//         margin: 4px;
//     }
// }

// @media only screen and (max-width: 660px) {
//     .mat-container{
//         justify-content: center;
//     }
//     .card-material{
//         width: 380px;
//         margin: 4px;
//     }
// }

// @media only screen and (max-width: 360px) {
//     .card-material{
//         width: 310px !important;
//         margin: 4px;
//     }
// }



  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba($primary-color, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($primary-color, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
      box-shadow: 0 0 0 0 rgba($primary-color, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($primary-color, 0);
        box-shadow: 0 0 0 10px rgba($primary-color, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($primary-color, 0);
        box-shadow: 0 0 0 0 rgba($primary-color, 0);
    }
  }
  .add-order-btn {
      background-color: $primary-color;
      color: #ffffff;
      width: 200px;
      text-align: center
  }
.icon-btn:not(.fas), .icon-btn:not(.far) {
  background-color: transparent ;
  color: #0d161d;
  &:hover {
    color: #68cdec;
  }
}
.remove-btn{
  border:none !important;
  background-color: transparent;
  cursor: pointer;
  &:hover{
    font-weight: bolder;
  }
  >i{
    color: $danger-color;

  }

}
.btn-material {
  color: #fff !important;
  >span{
    color: #fff !important;
  }
}
.label-of-stages{
  font-weight: bolder;
  background-color: #d6d8db !important;
}
